$backgroundColor: #060a3d;
$color: #fff;
$color1: #868aaf;
$color2: #db3baa;

$color2-dark: darken($color2,10%);
$color2-darker: darken($color2,30%);

$color3: #0025f1;

* {
  margin: 0;
  padding: 0;
}

#player {
  height: 100vh; /*100vh 撑满屏幕*/
  background: $backgroundColor;
  overflow: hidden;

  .header {
    height: 2.2rem /* 110/50 */;
    text-align: center;
    h1 {
      padding-top: .4rem /* 20/50 */;
      font-size: .4rem /* 20/50 */;
      color: $color;
    }

    p {
      padding-top: .1rem /* 5/50 */;
      font-size: .24rem /* 12/50 */;
      color: $color1;
    }

    .balls {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: .3rem /* 15/50 */;

      span {
        display: block;
        width: .1rem /* 5/50 */;
        height: .1rem /* 5/50 */;
        margin: 0 .08rem /* 4/50 */;
        border-radius: 50%;
        background: $color2-darker;

        &.current {
          width: .16rem /* 8/50 */;
          height: .16rem /* 8/50 */;
          background: $color2;
        }
      }
    }
  }

  .panels {
    display: flex; /* Flex 布局，让里边的元素（即两个面板）左右排列 */
    align-items: center; 

    width: 200vw; /* 两个面板,设置面板的整体宽度为 200vw */
    height: calc(100vh - 5.4rem ); /* 270/50 “整体屏幕的高度” - “上（110px）、下（160px）固定高度之和”*/
    
    transition: transform .3s; /* 使其“滑动时”能够“平滑”地过渡 */

    &.panel1 {
      transform: translateX(0vm);
    }
    &.panel2 {
      transform: translateX(-100vw);
    }

    .panel-effect {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 100vw;
      height: 100%;

      .effect {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 40vh;

        >div {
          position: absolute; /* 用“绝对定位”把三个 SVG 图片重合 */
          background-size: contain;
        }

        .effect-1 {
          width: 70vw;
          height: 70vw;
          background: url(../svg/effect-no-move.svg) 0 0 no-repeat;
          animation: rotate 20s linear infinite; /* 线性地、无穷地转动 */
        }

        .effect-2 {
          width: 60vw;
          height: 60vw;
          background: url(../svg/effect-move1.svg) 0 0 no-repeat;
          animation: rotate 10s linear infinite reverse; /* 线性地、无穷、反转地转动 */
        }

        .effect-3 {
          width: 24vw;
          height: 24vw;
          background: url(../svg/effect-move2.svg) 0 0 no-repeat;
          animation: rotate 10s linear infinite ; /* 线性地、无穷地转动 */ 
        }
      }

      .lyric {
        text-align: center;
        p {
          margin-top: .2rem /* 10/50 */;
          font-size: .28rem /* 14/50 */;
          color: $color1;

          &.current {
            color: $color;
          }
        }
      }
    }

    .panel-lyrics {
      width: 100vw;
      height: calc(100% - .8rem); /* 40/50 */
      text-align: center;
      overflow: hidden;

      .container {
        transition: all .4s;
        p {
          font-size: .28rem /* 14/50 */;
          line-height: 2;
          color: $color1;

          &.current {
            color: $color;
          }
        }
      }
    }
  }

  .footer {
    height: 3.2rem /* 160/50 */;

    .buttons {
      display: flex;
      justify-content: center;

      svg {
        width: .48rem /* 24/50 */;
        height: .48rem /* 24/50 */;
        margin: 0 .4rem /* 20/50 */;

        &.liker {
          transition: all .2s;
          animation: scale 1s ease-out;
        }
      }
    }

    .bar-area {
      display: flex;
      align-items: center;

      padding: 0 .4rem /* 20/50 */;
      margin-top: .4rem /* 20/50 */;
      font-size: .24rem /* 12/50 */;
      color: $color1;

      .time-start {
        order: 1; 
        width: .8rem /* 40/50 */;
      }

      .time-end {
        order: 3;
        width: .8rem /* 40/50 */;
      }

      .bar {
        position: relative;
        order: 2;
        flex: 1; /*️ 自动撑开 */
        height: .08rem /* 4/50 */;
        background: $color3;
        border-radius: .04rem /* 2/50 */;
        margin: 0 .2rem /* 10/50 */;

        .control {
          position: absolute;  /*️ 定位到 .progress 的“最右侧” */
          left: -.16rem /* 8/50 */;
          top: -.14rem /* 7/50 */;

          display: block;
          width: .32rem /* 16/50 */;
          height: .32rem /* 16/50 */;

          background: url(../svg/progress.svg) 0 0 no-repeat;
          background-size: contain;
          cursor: pointer;
        }

        .progress {
          transition: all .3s;
          width: 0%; 
          height: 100%;
          border-radius: .04rem /* 2/50 */;
          background: $color2;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: .4rem /* 20/50 */;
      padding: 0 .4rem /* 20/50 */;

      svg {
        width: .56rem /* 28/50 */;
        height: .56rem /* 28/50 */;
        
        &.btn-play-pause {
          width: 1rem /* 50/50 */;
          height: 1rem /* 50/50 */;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}